<!DOCTYPE html>
<html lang="en" ng-app = "App">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notas de recordatorio</title>

    <!-- Carga de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
    <!-- Carga de Angular -->
    <script src="http://code.angularjs.org/1.2.0-rc.3/angular.js"></script>

    <!-- Carga JS local -->
    <script src="core.js"></script>

</head>
<body ng-controller="Controller">
        <div class="container">
    
            <div class="jumbotron text-center">
                <h1>Nº de Recordatorios: <span class="label label-success">{{ reminders.length }}</span></h1>
            </div>
    
            <div class="row">
                <div class="col-sm-6 col-sm-offset-1">
                 <!--<table class="table table-striped"> -->
                    <table class="table table-hover">
                        <tr class="info">
                            <th>Fecha</th>
                            <th>Para</th>
                            <th>Recordatorio</th>
                            <th>Estado</th>
                            <th>Activo?</th>
                            <th>Total de envios</th>
                        </tr>
                        <tr ng-repeat="reminder in reminders" ng-click="selectReminder(reminder)">
                            <td>{{ reminder.date}}</td>                            
                            <td>{{ reminder.to}}</td>
                            <td>{{ reminder.note}}</td>
                            <td>{{ reminder.status}}</td>
                            <td>{{ reminder.active}}</td>
                            <td>{{ reminder.total}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-4 col-sm-offset-1 text-center">
                    <form name="myForm">
                        <div class="form-group">
                            <input type="text" class="form-control input-lg text-center" placeholder="Fecha" ng-model="newReminder.date" required>
                            <br>
                            <input type="text" class="form-control input-lg text-center" placeholder="Para" ng-model="newReminder.fecha" required>
                            <br>
                            <input type="text" class="form-control input-lg text-center" placeholder="Recordatorio" ng-model="newReminder.note" required>
                        </div>
    
                        <!-- Acciones que podemos realizar en el formulario -->
                        <button type="submit" class="btn btn-success btn-sm" ng-click="clear()" >Limpiar</button>
                        <button type="submit" class="btn btn-success btn-sm" ng-click="createReminder()" ng-disabled="myForm.$invalid || selected">Registrar</button>
                   </form>
                </div>
            </div>
        </div>
    </body>
    </html>